@media screen and (max-width: 1102px){
    .navbar-logo{
        display: none !important;
    }
    .nav-link{
        width: 100%;
    }
    .nav-link .nav-menu{
        justify-content: space-around;
        padding-right: 0;
        padding-left: 0;
    }
    .nav-link .nav-menu .navbar-link{
        font-size: 40px;
        margin-left: 0;
    }
}
@media screen and (max-width: 992px){
    .footer {
        align-items: flex-start;
        justify-content: flex-start;
    }
}
@media screen and (max-width: 768px){
    .navbars{
        height: 80px;
    }

    .home-page{
        margin-top: 80px;
    }
    .footer{
        padding-bottom: 50px;
    }
    .home-contact h1 {
        font-size: 45px;
    }
    .nav-link .nav-menu .navbar-link{
        font-size: 30px;
    }
    .carousel-img{
        height: 65vh !important;
    }
    .home-page-address .btn{
        width: 100%;
    }
    .change-languages select {
        width: 80%;
    }
    .home-page-work-time{
        align-items: center !important;
    }
    .home-page-address h2{
        text-align: center;
    }
    .div-contact-form{
        max-width: 520px;
    }
    .about-modal{
        width: 520px;
        height: 100vh !important;
    }
}
@media screen and (max-width: 620px){
    .div-contact-form{
        width: 100%;
        height: 100vh !important;
    }
    .about-modal{
        width: 100%;
        height: 450px !important;
    }
}
@media screen and (max-width: 568px){
    .navbars{
        height: 65px;
    }
    .home-page{
        margin-top: 60px;
    }
    .home-contact h1 {
        text-align: center;
    }
    .nav-link .nav-menu .navbar-link{
        font-size: 22px;
    }
    .carousel-img{
        height: 50vh !important;
    }
    .about-modal .about-text p{
        font-size: 16px;
    }
}
@media screen and (max-width:460px){
    .nav-link .nav-menu .navbar-link{
        font-size: 16px;
    }
    .carousel-img{
        height: 40vh !important;
    }
    .about-modal{
        width: 350px;
        min-height: 250px !important;
    }
    .about-modal button{
        font-size: 15px;
        padding: auto;
    }
    .contact-close .icon-close {
        left: 89%;
    }
    .aboute-close .close-icon {
        top: 0;
    }
}
@media screen and (max-width:367px){
    .nav-link .nav-menu .navbar-link{
        font-size: 14px;
    }
    .carousel-img{
        height: 30vh !important;
    }
    .change-languages select {
        width: 80px;
    }
    .about-modal{
        width: 280px;
    }
}